<div class="field">
	<label class="field__label" for="{{name}}">{{label}}</label>
	<input class="field__input validation" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"
		oninput="{{action}}(this.name, this.value)">
</div>